body {
    margin: 0;
    background-color: #121214;
}



.add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #121214;
    color: white;
    margin-top: 220px;

}

#bootstrap-overrides {
    background-color: #29292E;
    font-family: 'Roboto Slab';
    font-size: 40px;
    margin-bottom: 20px;
}



.add-logo img {
    width: 300px;
    height: 300px;
}



.add-right {
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 700px;
    height: 400px;
}

.add-right h1 {
    font-family: 'Roboto Slab';
    font-size: 40px;
    margin-bottom: 20px;
}

.add-right h4 {
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #e1e1e6;
}

.add-addInputUser {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin-top: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.add-addInputEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.add-addInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.add-addInputUser svg {
    margin-left: 10px;
    font-size: 25px;
}

.add-addInputEmail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;

}

.add-addInputUser input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

.add-addInputPassword {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.add-addInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.botaog {
    background-color: white;
}

.add-addInputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.add-right h1 {
    padding: 20px;
}

.add-right button {
    width: 98%;
    background-color: #202024;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;

    outline-width: 0;
}

.add-right button:hover {
    background-color: #121214;
    color: #EFF2F5;
    cursor: pointer;
}



.add-eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
}