body {
    margin: 0
}

.formBase {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 700px;
    background-color: #121214;
    color: white;

}




#flag {
    padding: 15px;
}

.form-logo img {
    width: 300px;
    height: 300px;
}

.form-with-google-btn {


    font-size: 17px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 16px;

}

.form-right {
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
    width: 600px;
    height: 600px;
}

.form-right h1 {
    font-family: 'Roboto Slab';
    font-size: 35px;
    margin-bottom: 20px;
}

.form-right label {
    font-size: 15px;
    text-align: center;

}

.form-right h4 {

    font-size: 35px;
    margin-bottom: 20px;
}

#reset {
    margin: 0;
    padding: 5px;
    margin-right: 310px;


}

.form-formInputUser {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin-top: 5px;

    height: 40px;
    border-radius: 5px;
}

.form-formInputEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.form-formInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.form-formInputUser svg {
    margin-left: 10px;
    font-size: 25px;
}

.form-formInputEmail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;

}

.form-formInputUser input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

.form-formInputPassword {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.form-formInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.botaog {
    background-color: white;
}

.form-formInputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.form-right h1 {
    padding: 20px;
}

.form-right button {
    width: 98%;
    background-color: #202024;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;

    outline-width: 0;
}

.form-right button:hover {
    background-color: #121214;
    color: #EFF2F5;
    cursor: pointer;
}

.form-eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
}