.crud {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    background-color: #121214;
    margin-top: -400px;
    padding-right: 20px;

}



#tabelaboot {
    margin-top: 190px;

}


td,
th {
    font-size: 18px;
    width: 300px;
    margin-top: 50px;

}





#refresh {
    background-color: white;
}